.team {
  height: 380px;
  margin: 40px 0;
}
.traders{
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;}

.main-container {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/photo1.jpeg");
  background-position: center;
  background-size: initial;
  position: relative;
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    text-align: center;
    transition: 1s all;
    border-radius: 50%;
    opacity: 0;
  }

  p:hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: linear-gradient(white, red);
    border-radius: 50%;
    opacity: 0.8;
  }
}

.person2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/photo2.jpeg");
  background-position: center;
  background-size: initial;
  position: relative;
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    text-align: center;
    transition: 1s all;
    border-radius: 50%;
    opacity: 0;
  }

  p:hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: linear-gradient(white, red);
    border-radius: 50%;
    opacity: 0.8;
  }
}

.person3 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/photo3.jpeg");
  background-position: center;
  background-size: initial;
  position: relative;
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 100%;
    margin: 0;
    transition: 1s all;
    border-radius: 50%;
    opacity: 0;
  }

  p:hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: linear-gradient(white, red);
    border-radius: 50%;
    opacity: 0.8;
  }
}