
.main-slider {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  min-width: 99vw;
  background-color: #fff;
  background-image: url("../images/backgroundwallstreet.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slider:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, red);
  opacity: 0.6;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  position: relative;
  transition: 1s all;

  .slider-text {
    width: 90%;
    animation-name: trans;
    animation-duration: 6s;

    .slide1 {
      text-align: center;
      @keyframes trans {
        0% {
          opacity: 0
        }
        20% {
          opacity: 1
        }
        80% {
          opacity: 1
        }
        100% {
          opacity: 0
        }
      }
    }

    .slide2 {
      text-align: center;
    }

    .slide3 {
      text-align: center;
    }

    h1 {
      font-size: 3em;
      margin: 0 auto;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5em;
      margin-top: 0;
    }
  }
}

@media (max-width: 980px) {
  .main-slider{
    height: 200px;
  }
  .slider-text {
    p {
      display: none;
    }
  }
}
