.infos {
  margin: 0 auto;
  min-height: 300px;
  width: 90%;
}

.infos-head {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.info-sections {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-section {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img {
  width: 30%;
  height: 200px;
  margin: 0;
  border-radius: 25%;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25%;
  }
}

.info-header-and-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 100%;
}

.info-head {
  width: 100%;
  height: 45px;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.info-text {
  padding-top: 5px;
  width: 100%;
  margin: 0;
  height: 130px;
}

.btn {
  height: 40px;

  a {
    width: 100%;

    button {
      height: 100%;
      width: 250px;
      font-size: 1em;
      color: red;
      border-radius: 20px;
      border: 3px solid red;
      background-color: white;
      cursor: pointer;
      float: left;
      transition: 1s all;
    }

    :hover {
      background-color: red;
      color: white;
    }
  }
}

@media (max-width: 1200px) {
  .info-text {
    display: none;
  }
  .btn {
    margin-top: 30px;
  }
}

@media (max-width: 830px) {
  .info-sections {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-section {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-text {
    display: block;
  }
  .btn {
    margin-top: 0;
  }
}

@media (max-width: 580px) {
  .infos-head {
    margin: 20px 0;
    font-size: 25px;
  }
  .info-img {
    img {
      margin-top: 30px;
      height: 70%;
    }
  }
  .info-text {
    display: none;
  }
  .btn {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  .btn {
    margin-top: 60px;
    a {
      button {
        width: 150px;
      }
    }
  }
}