.infos{
  height: 250px;
  margin: 70px 0 20px 0;
}
.main-container {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-section{
  width: 48%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.info-img{
  width: 29%;
  height: 200px;
  margin: 0;
  border: 1px solid green;
  display: inline-block;
}
.info-header-and-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.info-head{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}
.info-text{
  width: 100%;
  height: 150px;
  border: 1px solid black;
  margin: 0;
}