@font-face {
  font-family: '8_bit_1_6regular';
  src: url('../8bitfont/8bit16-webfont.woff2') format('woff2'),
  url('../8bitfont/8bit16-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.marquee{
  min-width: 99vw;
  background: #282626;
  box-sizing: border-box;
  font-weight: lighter;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  color: #00a730;
  text-transform: uppercase;
  font-family: '8_bit_1_6regular';
}

.marquee-text {
  padding: 5px;
  width: 100%;
  white-space: nowrap;
  animation: marquee 90s linear 0s infinite;
  &:hover {
    animation-play-state: paused;
    cursor: all-scroll;
  }
}

@keyframes marquee{
  0% { transform: translate(0, 0);}
  100% { transform: translate(-5400px, 0);}
}
