.skills {
  margin: 0 0 0 0;
  padding: 30px 0 100px 0;
  font-family: 'Roboto Mono', monospace;
}

.skills-elems {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.skills-img {
  position: relative;
  background-image: url("../images/photocv-nobg.png");
  background-size: 300px 410px;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px #111111;
  min-width: 380px;
  height: 380px;
  border-radius: 50%;
  animation: img 1s linear infinite;
}

@keyframes img {
  0% {
    box-shadow: 0 0 40px #111111;
  }
  50% {
    box-shadow: 0 0 10px #111111;
  }
  100% {
    box-shadow: 0 0 40px #111111;
  }
}

.skills-text {
  color: #fff;
  font-size: 20px;
  padding-left: 30px;
  min-width: 320px;

  h3 {
    text-transform: uppercase;
    font-weight: 400;
  }

  ul {
    margin: 0;
    padding-left: 25px;

    li {
      list-style-type: circle;
    }
  }
}

@media (max-width: 950px) {
  .skills-elems {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .skills-img {
    background-size: 225px 303px;
    background-position: 55% 50%;
    background-repeat: no-repeat;
    min-width: 300px;
    height: 300px;
  }
}

@media (max-width: 670px) {
  .skills-text {
    font-size: 15px;
    min-width: 250px;

    ul {
      padding-left: 20px;
    }
  }
}

@media (max-width: 600px) {
  .skills-elems {
    flex-direction: column;

    .skills-img {
      background-size: 300px 410px;
      background-position: 55% 50%;
      background-repeat: no-repeat;
      min-width: 380px;
      height: 380px;
    }

    .skills-text {
      font-size: 20px;
      min-width: 320px;
      padding-left: 10px;

      h3 {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .skills-elems {

    .skills-img {
      background-size: 225px 303px;
      background-position: 55% 50%;
      background-repeat: no-repeat;
      min-width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 360px) {
  .skills-elems {

    .skills-img {
      background-size: 167px 226px;
      background-position: 55% 50%;
      background-repeat: no-repeat;
      min-width: 225px;
      height: 225px;
    }

    .skills-text {
      font-size: 15px;
      min-width: 250px;

      ul {
        padding-left: 20px;
      }
    }
  }
}