.app {
  margin: 0 auto;
  background-image: url('./images/carbbg.jpg');
  background-size: cover;
  min-height: 100vh;

  .page {
    display: block;

    .cookiesInfo{
      font-family: 'Rajdhani', sans-serif;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      position: fixed;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      padding-bottom: 10px;
      border-top: 2px solid #faaf47;
      animation: showCookies 3s linear;

      @keyframes showCookies {
        0% {
          bottom: -500px;
        }

        100% {
          bottom: 0;
        }
      }

      p{
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        width: 80%;
        text-align: center;
      }

      .cookiesBtn{
        color: #111;
        background-color: #faaf47;
        width: 40px;
        height: 20px;
        font-weight: 800;
        text-transform: uppercase;
        border: 0;
        border-radius: 15%;
        transition: 0.3s all;
        padding-bottom: 10px;
        font-size: 14px;
        cursor: pointer;

        &:hover{
          box-shadow: 0 0 7px #faaf47;
        }
      }
    }

    .scrollUp {
      display: none;
      width: 50px;
      height: 50px;
      background-color: #FAAF47;
      border-radius: 30%;
      text-align: center;
      position: fixed;
      right: 10px;
      bottom: 10px;
      opacity: .5;
      cursor: pointer;
      z-index: 3;

      i {
        color: #fff;
        font-size: 30px;
        margin-top: 10px;

        &:hover{
          animation: scroll .6s linear infinite;

        }
      }

      @keyframes scroll {
        0% {
          margin-top: 10px;
        }
        50% {
          margin-top: 0;
        }
        100% {
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .app{
    .page{
      .scrollUp{
        display: none;
        width: 30px;
        height: 30px;
        background-color: #FAAF47;
        border-radius: 20%;
        text-align: center;
        position: fixed;
        right: 5px;
        bottom: 5px;
        opacity: .5;
        cursor: pointer;
        z-index: 2;

        i {
          color: #fff;
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
  }
  .footer{
    flex-direction: column;
    height: 300px;
  }
  .media{
    width: 50%;
  }
}
