.app {
  margin: 0 auto;
  background: #2d2d2d;
  .page {
    display: none;
  }
  //font-family: 'Roboto Mono', monospace;
}

@media (max-width: 1040px) {
  .app {
    .welcome-app {
      display: none;
    }
    .page {
      display: block;
    }
  }
}